* {margin: 0; padding: 0;}



.wrapper {
    width: 1007px;
    margin: auto;
}

/*HEADER START*/
.header {
	width: 100%;
    background-color: #504b4b;
    display: inline-flex;
    border-bottom: 7px solid red;
    margin-bottom: 25px;
    margin-top: 16px;
    padding-top: 23px;
}
.logo {
    width: 15%;
    height: 15%;
    position: relative;
    top: -5px;
    left: 22px;
}

img.logopic {
    width: 224px;
}

ul.headerul {
        margin: 25px 0px 0px 393px;

}

li {
    display: inline-block;
    padding: 10px 20px 6px 20px;
    text-align: center;
    position: relative;
    top: 0px;
    margin: 0px 4px 0px 4px;
}



a {
        text-decoration: none;
    color: white;
    font-weight: bolder;
    /* font-family: Arial; */
    /* font-family: 'Baloo Bhai', cursive; */
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
}

li:hover { 
    background-color: #FFC107;
    border-radius: 10px 10px 0px 0px;

}
li.current { 
    background-color: red;
    border-radius: 10px 10px 0px 0px;

}

/*HEADER END*/


/*slider start*/

.slback {
    /* width: 100%; */
    float: none;
    }


.slbox {
    margin: 0 auto;
    width: 554px;
    float: none;
}

    @keyframes slider {
0% { left: 0 }

20% { left: 0 }

25% { left: -100% }

45% { left: -100% }

50% { left: -200% }

70% { left: -200% }

75% { left: -300% }

95% { left: -300% }

100% { left: -400% }
}

#slider { overflow: hidden; }

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
}



/*slider end*/


/*isi start*/

.isi {
    width: 100%;
    background-color: #504b4b;
    height: 100%;
    padding: 10px;
}

div {    box-sizing: border-box;
    float: left;
}


.leftbox {
    width: 17%;
    background-color: #ff0030;
    height: 601px;
    text-align: center;
    padding-top: 32px;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #ff0030, 0px 0px 0px 0px;
    line-height: 83px;
    position: relative;
    left: 4px;
    font-weight: 800;
    color: #fff;
    font-family: sans-serif;
}

.rightbox {
    width: 80%;
    background-color: #f8fbfb;
    position: relative;
    left: 31px;
    top: -4px;
    height: auto;
    border: 5px solid red;
    text-align: justify;
    padding-top: 23px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 10px;
    font-family: sans-serif;
    padding-bottom: 14px;
}

img.ImageBorder {
    border: 9px solid #ebba35;
    padding: 8px;
    width: 354px;
}


.tajuk {
    margin: auto;
    width: 318px;
    height: 38px;
    background-color: #ebba35;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    padding-top: 5px;
}



.line {
    height: 20px;
    width: 100%;
    background-color: grey;
    margin-bottom: 32px;
}



p.lft {
    font-family: 'Baloo Bhai', cursive;
    font-size: 25px;
}

p.crnt > a {color: #ebba35;
}


h1 {
    margin-bottom: 14px;
    color: #403e3e;
    font-family: 'Baloo Bhai', cursive;
    font-size: 27px;
    text-align: center;
}

p.text {
    line-height: 32px;
    font-family: 'Work Sans', sans-serif;
    padding-bottom: 10px;
}

.pic1 {
    padding: 19px;
}

/*isi end*/


.bapak {
        width: 1007px;
    /* PADDING-TOP: 10PX; */
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #e0e4e2;
    display: flex;
    height: 100%;
    margin-top: 25PX;
}
.anak {
    width: 199px;
    background-color: #f6c644;
    height: 180px;
    margin: auto;
    border-radius: 10px;
    border: 5px solid #d2b158;
}

.top {
    width: 100%;
    height: 21%;
    background-color: #f6c644;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-family: sans-serif;
    padding-top: 11px;
    color: #fff;
    font-weight: bold;
}

.bottom {
    width: 100%;
    height: 76%;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    margin: 0 auto;
}



img.brand1 {
    width: 130px;
    /* float: none; */
    /* margin: 0 auto; */
    position: relative;
    /* top: 0; */
    left: 33px;
    /* right: 0; */
    /* text-align: center; */
}

img.brand2 {
    width: 124px;
    position: relative;
    left: 35px;
    /* text-align: center; */
}

img.brand3 {
    width: 183px;
    position: relative;
    left: 3px;
    top: 24px;
}



.bujur {
    width: 100px;
    height: 36px;
    background: #6d6b6b;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    border: 4px solid red;
    position: relative;
    bottom: 63px;
    /* left: 758px; */
    right: -120px;
    text-align: center;
    padding-top: 5px;
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
}

.bujur1 {
    width: 100px;
    height: 36px;
    background: #6d6b6b;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    border: 4px solid red;
    position: relative;
    bottom: 63px;
    /* left: 758px; */
    right: -350px;
    text-align: center;
    padding-top: 5px;
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
}

.bujur2 {
    width: 100px;
    height: 36px;
    background: #6d6b6b;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    border: 4px solid red;
    position: relative;
    bottom: 63px;
    /* left: 758px; */
    right: -590px;
    text-align: center;
    padding-top: 5px;
    font-family: sans-serif;
    color: #fff;
    font-weight: bold;
}



.bujur:hover { background-color: red; }

.bujur1:hover { background-color: red; }

.bujur2:hover { background-color: red; }




.footer {
    width: 100%;
    background-color: #504b4b;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 29px;
    font-family: sans-serif;
    color: #9e9d9d;
    border-top: 7px solid red;
    text-align: center;
}