* {
margin: 0;
padding:0;
font-family: Helvetica;
}	

body {
    background-color: black;
}

section {
    
}

.wrapper {
    width: 500px;
    background-color: aliceblue;
    padding: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}


h1 {
    font-size: 40px;
    /* font-family: Helvetica; */
    margin-bottom: 10px;
}
h2 {
    font-size: 18px;
    margin-bottom: 26px;
}
input.f1 {
    width: 214px;
    padding: 10px 3px 10px 9px;
    margin-right: 3px;
    font-size: 18px;
    border-radius: 5px;
}
input.f2 {
    width: 214px;
    padding: 10px 3px 10px 9px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
}

input.f3 {
        width: 451px;
    margin-bottom: 10px;
    padding: 10px 3px 10px 9px;
    margin-right: 3px;
    font-size: 18px;
    border-radius: 5px;
}

input.rbutton {
    margin-left: 21px;
}

h3 {
    margin-top: 15px;
    font-size: 21px;
    margin-bottom: 10px;
}

select.date1 {
    padding: 10px 3px 10px 3px;
}

select.date2 {
    padding: 10px 3px 10px 3px;
}

select.date3 {
    padding: 10px 3px 10px 3px;
    margin-right: 8px;
}

.years {
    width: 194px;
    display: inline-block;
    margin-bottom: 28px;
    vertical-align: top;
    font-size: 12px;
    padding-top: 4px;
}
p {
    font-size: 12px;
    margin-bottom: 31px;
}

input[type="button"] {
    padding: 15px 8px 15px 8px;
    width: 190px;
    background-color: green;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
        background: -webkit-linear-gradient(#77e24b, #1d713b);
    background: -o-linear-gradient(#77e24b, #1d713b);
    background: -moz-linear-gradient(#77e24b, #1d713b);
    background: linear-gradient(#77e24b, #1d713b);
}

input[type="button"]:hover {
    background: -webkit-linear-gradient(#3f9e61, #5eec23);
    background: -o-linear-gradient(#3f9e61, #5eec23);
    background: -moz-linear-gradient(#3f9e61, #5eec23);
    background: linear-gradient(#3f9e61, #5eec23);


}
